@font: "ProximaNova Regular", sans-serif;
@font-bold: "ProximaNova Bold", sans-serif;
@font-semibold: "ProximaNova SemiBold", sans-serif;
@font-light: "ProximaNova Light", sans-serif;


@fc-base: #000000;
@fc-alt: #ffffff;
@fc-surface: #896cdf;
@fc-title: #e7e7e7;
@fc-subtitle: #c1c1c1;


@bgc-surface: #5e42b0;
@hover-surface: #8860FF; 
@bgc-base: #ffffff;
@bgc-alt: #f5f4f9;
@bgc-alt-2: #090c35;
@bgc-footer: #0a0e34;


@tablet-width: ~"(min-width: 700px)";  // -> @media @tablet-width
@desktop-width: ~"(min-width: 1200px)";  //-> @media @desktop-width
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";