h2 {
	margin: 0;
}

h3 {
	margin: 0;
}

p {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}


input[type="text"]:focus {
	outline: none;
}

input[type="tel"]:focus {
	outline: none;
}

input[type="email"]:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

button:focus {
	outline: none;
}

