.features__items {
	padding-top: 1px;
}

.features__items-wrapper {
	background-color: @bgc-alt;
	padding-top: 1px;
	padding-bottom: 1px;
}

.features__item {
	display: none;
	margin-bottom: 34px;
	margin-top: 81px;
}

.features__item.second {
	display: block;
}

.features__title {
	font-family: @font-bold;
	font-size: 50px;
	line-height: 50px;
	color: @fc-title;
	text-transform: uppercase;
	margin-top: 25px;
	padding: 0 19px;
}

.features__athlets {
	position: relative;
	background: url(../img/cross.png) 66px 105px no-repeat,
							url(../img/cross-opacity.png) 45px 91px no-repeat, 
							url(../img/player1-line320.png) 52px 90px no-repeat;
	&::before {
		position: absolute;
		content: '';
		width: 192px;
		height: 281px;
		top: 91px;
		left: 55px;
		background: url(../img/player1.png) 0 0 no-repeat;
	}
}

.features__athlets .features__title {
	margin-bottom: 264px;
}

.features__players {
	position: relative;
	background: url(../img/cross.png) 66px 129px no-repeat,
							url(../img/cross-opacity.png) 45px 113px no-repeat,
							url(../img/player2-line320-1.png) 187px 142px no-repeat; 
	&::before {
		position: absolute;
		content: '';
		width: 302px;
		height: 248px;
		top: 118px;
		left: -4px;
		background: url(../img/player2.png) 0 0 no-repeat;
		z-index: 10;
	}
	&::after {
		position: absolute;
		content: '';
		width: 95px;
		height: 111px;
		top: 239px;
		left: 47px;
		background: url(../img/player2-line320-2.png) 0 0 no-repeat;
		z-index: 1;
	}
}

.features__players .features__title {
	margin-bottom: 247px;
}

.features__item-title {
	font-family: @font-bold;
	font-size: 28px;
	line-height: 28px;
	color: @fc-subtitle;
	text-transform: uppercase;
	padding: 0 19px;
	margin-bottom: 26px;
}

.features__number {
	position: relative;
	font-family: @font-bold;
	font-size: 14px;
	line-height: 21px;
	vertical-align: top;
	color: @fc-base;
	text-transform: uppercase;
	margin-right: 12px;
	&::after {
		position: absolute;
		content: '';
		width: 17px;
		height: 4px;
		top: 17px;
		left: 0;
		background-color: @bgc-surface;
		border-radius: 2px;
	}
}

.features__item-text {
	font-family: @font;
	font-size: 15px;
	line-height: 18px;
	color: @fc-base;
	padding: 0 19px;
}

.features__controls {
	margin-bottom: 27px;
}

.features__controls-list {
	font-size: 0;
	text-align: center;
	.unstyledlist();
}

.features__controls-item {
	display: inline-block;
	vertical-align: top;
	width: 10px;
	height: 10px;
	background-color: @fc-subtitle;
	border-radius: 50%;
	margin-right: 12px;
	cursor: pointer;
	&:last-child {
		margin-right: 0;
	}
}

.features__controls-item.active {
	background-color: @fc-surface;
}

@media @tablet-width { 
	
	.features__items-wrapper {
		padding-bottom: 0;
		border-bottom: 1px solid @bgc-surface;
	}
	
	.features__item {
		display: block;
		margin: 0;
		padding-bottom: 1px;
		padding-top: 1px;
	}
	
	.features__athlets {
		position: relative;
		background: url(../img/cross.png) 66px 86px no-repeat,
			url(../img/cross-opacity.png) 45px 69px no-repeat, 
			url(../img/player1-line320.png) -83px 150px no-repeat;
		&::before {
			width: 335px;
			height: 699px;
			top: 91px;
			left: 0;
			background: url(../img/player1-768.png) 0 0 no-repeat;
			z-index: 10;
		}
		&::after {
			position: absolute;
			content: '';
			width: 253px;
			height: 317px;
			top: 105px;
			left: 0px;
			background: url(../img/promo-line768.png) 0 0 no-repeat;
		}
	}
	
	.features__players {
		position: relative;
		background: url(../img/cross.png) 545px 129px no-repeat,
			url(../img/cross-opacity.png) 520px 113px no-repeat,
			url(../img/player2-line320-1.png) 620px 151px no-repeat; 
		&::before {
			position: absolute;
			content: '';
			width: 436px;
			height: 565px;
			top: 46px;
			left: 330px;
			background: url(../img/player2-768.png) 0 0 no-repeat;
		}
		&::after {
			position: absolute;
			content: '';
			width: 253px;
			height: 317px;
			top: 187px;
			left: 498px;
			background: url(../img/promo-line768.png) 0 0 no-repeat;
		}
	}
	
	.features__title {
		font-family: @font-bold;
		font-size: 90px;
		line-height: 90px;
		color: @fc-title;
		text-transform: uppercase;
		margin-top: 83px;
		padding: 0;
	}
	
	.features__athlets .features__title  {
		margin-left: 292px;
		margin-bottom: 60px;
	}
	
	.features__players .features__title {
		margin-bottom: 60px;
		margin-left: 40px;
	}

	.features__controls {
		display: none;
	}
	
	.features__items-wrapper {
		background-color: @bgc-base;
	}
	
	.features__item.second {
		background-color: @bgc-alt;
	}
	
	.features__item.third {
		background-color: @bgc-surface;
	}
	
	.features__players .features__item.third {
		background-color: #090c35;
	}
			
	.features__item-title {
		font-size: 36px;
		line-height: 36px;
		margin: 40px 0 32px 0;
		padding: 0;
	}
		
	.features__athlets .features__item-title {
		margin-left: 290px;
	}
	
	.features__players .features__item-title {
		margin-left: 33px;
	}
	
	.features__item-text {
		font-family: @font;
		font-size: 18px;
		line-height: 18px;
		color: @fc-base;
		padding: 0;
	}
	
	.features__athlets .features__item-text {
		margin: 0 56px 40px 290px;
	}
	
	.features__players .features__item-text {
		margin: 0 190px 40px 33px;
	}
		
	.features__number {
		font-size: 18px;
		&::after {
			width: 22px;
			height: 4px;
			top: 25px;
			left: 0;
		}
	}
	
	.features__item.third .features__number {
		&::after {
			background-color: #efefef;
		}
	}
	
	.features__number--color {
		color: @bgc-surface;
	}
	
	.features__item.third .features__item-text {
		color: @fc-alt;
	}
}

@media @desktop-width {
	.features__athlets .features__title {
		text-align: right;
		margin-right: 534px;
		margin-left: 0;
	}
	
	.features__title {
		margin-top: 114px;
	}
	
	.features__athlets .features__title {
		margin-bottom: 60px;
	}
	
	.features__item {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	
	.features__item-title {
		margin: 65px 0 32px 0;
	}
			
	.features__item-text {
		font-size: 20px;
		line-height: 28px;
	}
		
	.features__athlets {
		position: relative;
		background: url(../img/cross.png) 417px 246px no-repeat,
			url(../img/cross-opacity.png)  392px 234px no-repeat, 
			url(../img/player1-line320.png) -209px 150px no-repeat;
		&::before {
			width: 592px;
			height: 955px;
			top: 119px;
			left: 323px;
			background: url(../img/player1-1920.png) 0 0 no-repeat;
			z-index: 10;
		}
		&::after {
			position: absolute;
			content: '';
			width: 582px;
			height: 668px;
			top: 170px;
			left: 303px;
			background: url(../img/athlets-line1920.png) 0 0 no-repeat;
		}
	}
	
	.features__athlets .features__item-title {
		margin-left: 0;
	}
	
	.features__athlets .features__item-text {
		margin-left: 0;
	}
	
	.features__item.second {
		display: flex;
	}
		
	.features__item-wrapper {
		margin-left: 1014px;
		margin-right: 403px;
	}
		
	.features__players .features__item-title, .features__players .features__item-text {
		margin-right: 0;
		margin-left: 0;
	}
	
	.features__players .features__item-wrapper  {
		margin: 0;
	}
	
	.features__players .features__title {
		margin-left: 328px;
	}
	
	.features__players {
		position: relative;
		background: url(../img/cross.png) 1128px 97px no-repeat,
			url(../img/cross-opacity.png) 1153px 112px no-repeat,
			url(../img/player2-line320-1.png) 1250px 151px no-repeat; 
		&::before {
			position: absolute;
			content: '';
			width: 991px;
			height: 815px;
			top: -24px;
			left: 833px;
			background: url(../img/player2-1920.png) 0 0 no-repeat;
		}
		&::after {
			position: absolute;
			content: '';
			width: 275px;
			height: 668px;
			top: 51px;
			left: 1493px;
    	background: url(../img/player2-line1920-1.png) 0 0 no-repeat;
		}
	}
	
	.features__players .features__item {
		align-items: flex-start;
	}
	
	.features__players .features__item-wrapper  {
		margin-left: 328px;
		margin-right: 1093px;
	}
	
	.features__players .features__item.second {
		position: relative;
		&::before {
			position: absolute;
			content: '';
			width:278px;
			height: 320px;
			top: -61px;
			left: 1001px;
			background: url(../img/player2-line1920-2.png) 0 0 no-repeat;
		}
	}
}

